*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

p {
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: inherit;
}

svg,
video {
    display: block;
}

video {
    max-width: 100%;
    height: auto;
}

main,
header {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

body.modal-open {
    overflow-y: hidden;
    height: 100vh;
}

.hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

summary,
details {
    background-color: transparent !important;
}
